*{
    margin:0px;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vm;

}

#div{
    margin-left: 100px;
    width: 350px;
    float: left;
    

}

.div1{
    height: 604px;
    background-color: cornflowerblue;
    border:1px #A2A6B2;

}
.div2{
    height: 641px;
    background-color: cornflowerblue;
    border:1px #A2A6B2;

}
.div3{
    height: 715px;
    /* background-color: cornflowerblue; */
    border-color:1px solid #A2A6B2;

}
